<section class="Grid">
    <form class="Grid-cell">
      <radiogroup>
        <!-- ng-model="filter.name" PUT SOMETHING HERE TO DATA-BIND TO
        name="Sepia"
        value="Sepia"
        ng-change="Sepia">
        Sepia<br> -->

        <radio id="Sepia" label="Sepia" accesskey="S"/>
        <radio id="Gaussian" label="Gaussian" accesskey="G"/>
        <radio id="Black_and_White" label="Black_and_White"  accesskey="B" selected="true"/>
      </radiogroup>
      <button type="submit" name="Pick Filter">Pick Filter</button>
    </form>

</section>
